<div class="row">
    <div class=" text">
        <h1>Governify
            <strong>gateway portal</strong>
        </h1>
        <div class="description">
            <p>Manage all your SLA-Driven APIs with this gateway</p>
        </div>
    </div>
</div>

<div class="row f1">
    <div ng-if="!isAuthenticated" class="text-center">
        <div>
            <p> You are not logged in</p>
            <button class="btn btn-primary" ng-click="authService.login()">Log In</button>
        </div>
    </div>

    <div ng-if="isAuthenticated" class="text-center">
        <p>{{profile.nickname}}, you are successfully logged in</p>
        <button class="btn btn-primary" ui-sref="services">Access to your services list</button>
    </div>
</div>